<!DOCTYPE html>
<html>
  <head>
   <link href="/conception_kit_ui/vendor/assets/stylesheets/stylesheets/all.css" rel="stylesheet"> 
    <link href="/conception_kit_ui/app/assets/stylesheets/icones.css" rel="stylesheet"> 
  </head>

  <body>
    <header>
      <h1>My UI kit</h1>
      <br>
    </header>
    <div class="h3"><h3><strong><u>Colors</u></strong></h3></div>
    <div class="flex-container">
      <div class="primary">Primary #60B0DB</div> 
      <div class="secondary">Secondary #A7CDE1</div>
      <div class="gray-1">Gray n°1 #5D5D61</div>
      <div class="gray-2">Gray n°2 #A1A1A8</div>
      <div class="gray-3">Gray n°3 lightgray</div>
    </div>
    <br>
    <div class="flex-container-1">
      <div class="warning">Warning #D78E4E</div> 
      <div class="danger">Danger #D64C42</div>
      <div class="success">Success #7ACE8B</div>
      <div class="info">Info #A098B8</div>
    </div> 
    <div class="flex-container-2">
      <div class="text-primary">Primary #60B0DB</div> 
      <div class="text-secondary">Secondary #A7CDE1</div>
      <div class="text-gray-1">Gray n°1 #5D5D61</div>
      <div class="text-gray-2">Gray n°2 #A1A1A8</div>
      <div class="text-gray-3">Gray n°3 lightgray</div>
      <div class="text-warning">Warning #D78E4E</div> 
      <div class="text-danger">Danger #D64C42</div>
      <div class="text-success">Success #7ACE8B</div>
      <div class="text-info">Info #A098B8</div>
    </div>
    <br><br><br><br><br>
    <div class="h3"><h3><strong><u>Fonts</u></strong></h3></div>
    <h4><a href="https://fonts.google.com/specimen/Merriweather">Merriweather</a>is a font for headings!</h4>
    <p><a href="https://fonts.google.com/specimen/Roboto">Roboto</a>is a text font!</p>
    <br><br><br><br><br>
    <div class="h3"><h3><strong><u>Buttons</u></strong></h3></div>
    <div class="flex-container-buttons">
      <button type="button" class="button-primary">Button primary</button>
      <button type="button" class="button-primary-outline">Button primary</button>
      <button type="button" class="button-primary-sm">Button primary</button>
      <button type="button" class="button-primary-lg">Button primary</button>
    </div>
    
    <div class="flex-container-buttons-1">
      <button type="button" class="button-warning">Button warning</button>
      <button type="button" class="button-warning-outline">Button warning</button>
      <button type="button" class="button-warning-sm">Button warning</button>
      <button type="button" class="button-warning-lg">Button warning</button>
    </div>
    
    <div class="flex-container-buttons-2">
      <button type="button" class="button-danger">Button danger</button>
      <button type="button" class="button-danger-outline">Button danger</button>
      <button type="button" class="button-danger-sm">Button danger</button>
      <button type="button" class="button-danger-lg">Button danger</button>
    </div>
    
    <div class="flex-container-buttons-3">
      <button type="button" class="button-info">Button info</button>
      <button type="button" class="button-info-outline">Button info</button>
      <button type="button" class="button-info-sm">Button info</button>
      <button type="button" class="button-info-lg">Button info</button>
    </div>
    
    <div class="flex-container-buttons-4">
      <button type="button" class="button-success">Button success</button>
      <button type="button" class="button-success-outline">Button success</button>
      <button type="button" class="button-success-sm">Button success</button>
      <button type="button" class="button-success-lg">Button success</button>
    </div>
    <br><br><br><br><br>
    <div class="h3"><h3><strong><u>Icons</u></strong></h3></div>
    <div class="flex-container-icons">
      <i class="fa fa-car fa-4x" aria-hidden="true"></i>
      <i class="fa fa-bus fa-4x" aria-hidden="true"></i>
      <i class="fa fa-motorcycle fa-4x" aria-hidden="true"></i>
      <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
      <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
      <i class="fa fa-user-circle fa-4x" aria-hidden="true"></i>
      <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
    </div>
    <br><br><br><br><br>
    <div class="h3"><h3><strong><u>Inputs</u></strong></h3></div>
    <div class="flex-container-input">
      <p>Le nom de l'évènement: <input type="text" class="input-1" name="input-1"></p>
      
      <select class="cars" name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      
      <textarea class="area-1" name="w3review" rows="4" cols="50">
        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies. 
      </textarea>
      
      <input type="radio" class="male" name="gender" value="male">
      <label for="male" style="font-family: roboto;">Male</label><br>
      
      <input type="checkbox" class="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1" style="font-family: roboto;"> I have a bike</label><br>
    </div>
    
    <br><br><br><br><br>
    <div class="h3"><h3><strong><u>Lists</u></strong></h3></div>
      <div class="list-group">
        <div class="list-group-item">
          <h5>List group item heading</h5>
          <p>Donec id elit non mi porta gravida at eget etus. Maecenas sed diam eget risus varius blandit.</p>
        </div>
      </div>
    
    <br><br><br><br><br>
    <div class="h3"><h3><strong><u>Cards</u></strong></h3></div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4>Card title</h4>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="button-info">Go somewhere</a>
      </div>
    </div>
  </body>
</html>





